<div class="w960 center" id="header">
<div style="float:left;padding:2px 0 0 10px;"><ul class="fs djheader">
<li><strong>分享到：</strong></li>
<li class="sina"><a href="javascript:void(0)" name='sina'>新浪</a></li>
<li class="qq"><a href="javascript:void(0)" name='qq'>腾讯</a></li>
<li class="qz"><a href="javascript:void(0);" name="qqzone">QQ空间</a></li>
<li class="renren"><a href="javascript:void(0)" name="renren">人人</a></li>
<li class="kaixin"><a href="javascript:void(0)"  name="kaixin">开心</a></li>
<li class="i163"><a href="javascript:void(0)" name="n163">网易</a></li>
<li class="douban"><a href="javascript:void(0)" name="douban">豆瓣</a></li></ul></div>
<div class="toplinks"><a href="{% url show_accounts %}" class="rss">个人中心</a><span>[<a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.laidiantuan.com');">设为首页</a>] [<a title="来点团" onclick="if(document.all && !window.opera){ window.external.AddFavorite(location.href, document.title);return false; }else{ this.title = document.title; }" rel="sidebar" href="">加入收藏</a>]</span></div></div>
