<div class="downimg">
    <a href="http://www.laidiantuan.com/download/"><img src="http://static.laidiantuan.com/static/images/downimg.png"></a>
</div>

<div class="swhz mt1">
  <div class="lxfs">
     <ul class="sw1">
       <li class="tx"><a href="http://t.qq.com/laidiantuan" target="_blank">腾讯微博</a></li>
       <li class="sina"><a href="http://weibo.com/laidiantuan" target="_blank">新浪微博</a></li>
     </ul>
     <ul class="sw2">
       <li><a href="tencent://message/?uin=2477359668&Site=来点团&Menu=yes">客户服务 QQ：2477359668</a></li>
       <li><a href="tencent://message/?uin=2477359668&Site=来点团&Menu=yes">商务合作 QQ：1750735781 </a></li>                                                  <li><a href="mailto:laidiantuan@qq.com">E-mail: laidiantuan@qq.com</a></li>
     </ul>
  </div>
</div>

<!--
<div class="swhz mt1"><div class="pc_d"><div class="menu"><div class="idiv"><p><span>电脑客户端：</span><a href="{{ MEDIA_URL }}laidiantuan_v1.20.exe">下载</a></p></div></div></div><div class="lxfs" style="margin-top:28px;"><ul class="sw1"><li class="tx"><a href="http://t.qq.com/laidiantuan" target="_blank">腾讯微博</a></li><li class="sina"><a href="http://weibo.com/laidiantuan" target="_blank">新浪微博</a></li></ul><ul class="sw2"><li><a href="tencent://message/?uin=2477359668&Site=来点团&Menu=yes">消费者服务 QQ：2477359668</a></li><li><a href="tencent://message/?uin=2477359668&Site=来点团&Menu=yes">团购网合作 QQ：2477359668</a></li><li><a href="mailto:laidiantuan@qq.com">E-mail: laidiantuan@qq.com</a></li></ul></div></div>
-->
