<div id="tgw"><a href="{% url sites %}"><h2>团购网</h2></a><ul class="f5">
<li><a href='/stats/jump-to/site-1/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>美团</a> </li>
<li><a href='/stats/jump-to/site-120/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>蜜袖团</a></li>
<li><a href='/stats/jump-to/site-43/?area={{ page_flag }}_b&r={{ refer }}'  target='_blank'>阿丫团</a></li>
<li><a href='/stats/jump-to/site-116/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>粉黛美妆</a></li>
<li><a href='/stats/jump-to/site-77/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>金妆国际</a></li>
<li><a href='/stats/jump-to/site-44/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>VC团</a></li>
<li><a href='/stats/jump-to/site-129/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>315团</a></li>
<li><a href='/stats/jump-to/site-93/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>E宝贝团</a></li>
<li><a href='/stats/jump-to/site-76/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>热卖团</a></li>
<li><a href='/stats/jump-to/site-4/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>糯米</a></li>
<li><a href='/stats/jump-to/site-2/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>大众点评</a></li>
<li><a href='/stats/jump-to/site-74/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>58团</a></li>
<li><a href='/stats/jump-to/site-94/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>24券</a></li>
<li><a href='/stats/jump-to/site-83/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>给力团</a></li>
<li><a href='/stats/jump-to/site-34/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>嘀嗒团</a></li>
<li><a href='/stats/jump-to/site-87/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>赶集团</a></li>
<li><a href='/stats/jump-to/site-14/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>一起买好</a></li>
<li><a href='/stats/jump-to/site-123/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>亲亲团</a></li>
<li><a href='/stats/jump-to/site-124/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>秀购团</a></li>
<li><a href='/stats/jump-to/site-73/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>聚美优品</a></li>
<li><a href='/stats/jump-to/site-5/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>满座</a></li>
<li><a href='/stats/jump-to/site-122/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>极致时尚</a></li>
<li><a href='/stats/jump-to/site-57/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>赶团网</a></li>
<li><a href='/stats/jump-to/site-101/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>搜旅团</a></li>
<li><a href='/stats/jump-to/site-86/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>我也团</a></li>
<li><a href='/stats/jump-to/site-132/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>美面</a></li>
<li><a href='/stats/jump-to/site-20/?area={{ page_flag }}_b&r={{ refer }}' target='_blank'>团好网</a></li>
</ul>
</div>
