<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content ="团购,团购网,团购网站大全,团购导航,团购网站,团购网大全,团购网站导航,团购大全" name="keywords" />
<meta content ="最好的中国团购网站大全,美团,糯米等每日团购网的团购网站导航!汇集北京团购网,上海团购网,和包括广州,深圳,南京,杭州,成都,青岛,西安等的团购网站大全
和团购导航" name="description" />
<title>迷你首页</title>
<link media="screen" type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}mini.css">
<script src="{{ MEDIA_URL }}mini.js" type="text/javascript"></script>
<style>
html {overflow-x:hidden;overflow-y:hidden;}
body{margin:0}
</style>
</head>
<body>
<iframe style="width:{{ app.width }}px;height:{{ app.height }}px;" scrolling="no" frameborder="no" marginwidth="0" border="0" src="http://{{ app.url }}"></iframe>
</body>
</html>
