.user_content{float:left;width:998px;margin-bottom:10px;}
.user_t b {display:block;font-size:0;height:1px;line-height:0;overflow:hidden;-moz-border-bottom-colors:none;-moz-border-image:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;border-color:#E1E1E1;border-style:solid;border-width:0 1px;}
.user_t b.b1 {background:none repeat scroll 0 0 #DDDDDD;margin:0 2px;}
.user_t b.b2 {background:none repeat scroll 0 0 #F9F9F9;margin:0 1px;}
.user_t b.b3 {background:none repeat scroll 0 0 #F9F9F9;}
.user_th {-moz-border-bottom-colors:none;-moz-border-image:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background:none repeat scroll 0 0 #F9F9F9;border-color:#E1E1E1;border-style:solid;border-width:0 1px;padding:0 10px;}
.user_t h2 {-moz-border-bottom-colors:none;-moz-border-image:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;border-color:#E1E1E1;border-style:solid;border-width:0 0 1px;font-size:14px;color:#333;height:35px;line-height:18px;}
.vm {display:inline-block;height:100%;vertical-align:middle;}
.user_m {-moz-border-bottom-colors:none;-moz-border-image:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background:none repeat scroll 0 0 #F9F9F9;border-color:#E1E1E1;border-style:solid;border-width:0 1px 1px;display:block;min-height:80px;overflow:hidden;padding:10px 20px 10px;}
ul {list-style:none outside none;}
.user_m a{color:#333;}
.user_m li {display:inline-block;width:100px;line-height:22px;padding:5px 0;margin-right:30px;}
.user_m li img{float:left;width:100px;height:42px;border:0;}
.user_m .img_name{float:left;overflow:hidden;text-align:center;width:100px;margin-top:5px;}
