.pleft{width:752px;float:left;overflow:hidden;}
.pleft .place{width:712px;height:24px;line-height:24px;background:transparent url(http://static.laidiantuan.com/static/images/green_skin.png) repeat-x scroll 0 -188px;border-top:1px solid #BADAA1;border-bottom:1px solid #BADAA1;text-indent:12px;color:#428C5B;overflow:hidden;}
.pleft .place strong{color:#428c5b;font-weight:normal;letter-spacing:1px;}
.pleft .place a{color:#428c5b;margin:0px 2px;}
.pleft .place a:hover{color:#ff3333;text-decoration:none;}
.pleft .place small{display:inline-block;vertical-align:middle;width:8px;height:20px;*height:24px;overflow:hidden;background:url(http://static.laidiantuan.com/static/images/ico-3.gif) 2px 8px no-repeat;font-size:0px;}
.place{height:24px;line-height:24px;text-indent:18px;color:#999;background:transparent url(http://static.laidiantuan.com/static/images/green_skin.png) repeat-x scroll 0 -188px;border-top:1px solid #BADAA1;border-bottom:1px solid #BADAA1;overflow:hidden;font-family:ו;margin-bottom:6px;text-align:left;}
.place strong{color:#397CBE;font-weight:normal;letter-spacing:1px;}
.place a{color:#397CBE;margin:0px 2px;}
.place a:hover{color:#FF3366margin:0px 2px;TEXT-DECORATION: underline;}
.pright{width:238px;float:right;overflow:hidden;}
.tfl{width:752px;clear:both;overflow:hidden;margin-bottom:10px;}
.tfl .t_input{width:300px;float:left;padding-top:4px;margin-left:20px;}
.tfl .t_input span{color:#535353;margin-left:5px;}
.tfl .t_l{width:750px;height:auto;}
.all{width:752px;overflow:hidden;}
.picnews{width:752px;float:left;clear:both;overflow:hidden;margin-top:0px;*margin-top:12px;_margin-top:0px;}
.swhz{border:1px solid #DADADA;margin-bottom:8px;}
.swhz .lxfs{ position:relative;padding-top:8px;padding-left:35px;margin-bottom:8px;border-bottom:0px solid #DADADA;}
.sw1{width:100%;overflow:hidden;clear:both;margin-bottom:5px;}
.sw1 li{float:left;line-height:14px;padding:8px 10px 0px;white-space:nowrap;margin-right:12px;}
.sw1 .tx{background:url(http://static.laidiantuan.com/static/images/t.png) 0px 6px no-repeat;}
.sw1 .sina{background:url(http://static.laidiantuan.com/static/images/sina.png) 0px 6px no-repeat;}
.sw1 li a{color:#666;float:left;margin-left:8px;}
.sw2{width:100%;overflow:hidden;clear:both;margin-bottom:5px;}
.sw2 li{float:left;width:100%;line-height:20px;white-space:nowrap;}
.sw2 li a{color:#666666;float:left;}
.swhz .dingyue{margin-left:8px;margin-bottom:8px;}
.swhz .dingyue p{color:#666;margin-bottom:8px;}
.swhz .dingyue input[type="text"]{width:108px;color:#666;border-width:1px;border-style:solid;border-color:#707070 #CECECE #CECECE #707070;padding:2px 4px;height:18px;line-height:18px;vertical-align:middle;}
.swhz .dingyue input[type="text"]:focus{border-color:#fba96b;color:#333;-moz-box-shadow:0 0 3px #fba96b;-webkit-box-shadow:0 0 3px #fba96b;box-shadow:0 0 3px #fba96b;outline:none;}
.swhz .dingyue input[type="submit"]{background:url(http://static.laidiantuan.com/static/images/dingyue.gif) no-repeat;width:62px;height:26px;line-height:26px;text-align:center;font-size:12px;font-weight:bold;color:#fff;border:none;cursor:pointer;}
.pc_d{position:absolute;width:238px;height:41px;z-index:100;background:url(http://static.laidiantuan.com/static/images/d.gif) no-repeat;margin-top:-10px;margin-left:-1px;}
.pc_tr{position:absolute;width:21px;height:40px;z-index:100;background:url(http://static.laidiantuan.com/static/images/download2.gif) no-repeat;margin-left:237px;margin-top:0px;}
.menu{float:left;width:238px;height:41px;font-size:12px;position:relative;z-index:100;}
.menu .idiv {display:none;position:absolute;left:20px;top:41px;padding:10px 50px;background:#FFFCD2;border:#dadada 1px solid; box-shadow: 3px 3px #E5E5E5;}
.today_show{position:relative;width:732px;height:160px;margin-bottom:10px;padding:10px;background:url(http://static.laidiantuan.com/static/images/bgspi.jpg);}
.today_show .tuan_show_l{position:absolute;width:63px;height:62px;z-index:1;left:6px;top:7px;background:url(http://static.laidiantuan.com/static/images/tuan_bg.gif) no-repeat;}
.today_show .tuan_img{float:left;width:251px;height:145px;border:#dadada 1px solid;background:#fff;margin-right:10px;padding:5px 5px;font-size:0; /*IE6 img*/}
.today_show .tuan_img img{width:251px;height:145px;}
.today_show .tuan_hot_r{float:left;width:415px;height:145px;padding:5px 5px;}
.today_show .tuan_hot_r p a font{color:#FF320C;}
.today_show .tuan_hot_r p a{font-size:16px;font-weight:bold;color:#333;}
.today_show .tuan_m{height:50px;padding:5px 5px;margin-top:10px;}
.today_show .tuan_m .jiage{float:left;width:210px;height:45px;background:#fef4cb;overflow:hidden;margin-top:3px;}
.today_show .tuan_m  a{float:left;width:181px;height:52px;overflow:hidden;text-decoration:none;vertical-align:middle;background:url(http://static.laidiantuan.com/static/images/tuan_show.png) no-repeat;}
.today_show .tuan_m  a h2{color:#fff;font-size:22px;line-height:22px;font-weight:bold;padding:15px;}
.today_show .tuan_r{padding:20px 0 0 10px;}
.today_show .tuan_r .tuan_p_l{float:left;}
.today_show .tuan_r .tuan_p_r{float:right;}
