.sort_table{margin-right:160px !important;width:585px !important;border-right:1px solid #DDDDDD;}
.audit_table{width:620px !important;border-right:1px solid #DDDDDD;}
#csv{margin-left:67px;margin-top:-32px;float:left;display:inline;}
div.breadcrumbs{font-size:15px;}
#audit_date{width:80px;}
.fontbox{font-size:13px;}
.filtered{background:url("/admin-media/img/admin/changelist-bg.gif") repeat-y scroll right top white !important;}
