.tz{width:734px;height:426px;margin:80px auto;background-image: url("http://static.laidiantuan.com/static/images/tiao.gif");}
.tz .kk{width:560px;height:400px;margin-top:10px;margin-right:10px;float:right;}
.tz .kk strong{width:400px;margin-top:40px;margin-left:50px;float:left;font-size:20px;}
.tz .kk strong a{color:#fe740b;;}
.tz .kk span{width:400px;margin-top:42px;margin-left:50px;float:left;font-size:14px;color:#636363;}
