{% extends "base_site.html" %}
{% block navigation %}{% include "tags/union_navigation.html" %}{% endblock %}
{% block content %}
	<div class="ads">
        <div class="abs_input">
            <form action="{% url site-pos-add %}" method="post">{% csrf_token %}
                <table><tr><td class="r">热门城市：</td><td><select id="cityKey" name="h_city"><option selected="selected"></option>{% for hc in h_cities %}<option value="{{ hc.slug }}">{{ hc.name }}</option>{% endfor %}</select></td></tr>
                <tr><td class="r">其它城市：</td><td><select id="otherCityKey" name="o_city"><option selected="selected"></option>{% for oc in o_cities %}<option value="{{ oc.slug }}">{{ oc.name }}</option>{% endfor %}</select></td></tr>
                <tr><td class="r">分类：</td><td><select name='category'>{% for category in categories %}<option value='{{ category.slug }}'>{{ category.title }}</option>{% endfor %}</select></td></tr>
                <tr><td class="r">优先级：</td><td><input type="text" class="text" name="priority" value="" /></td></tr>
                <tr><td class="r">站点ID：</td><td><input type="text" class="text" id="site" name="site"/></td></tr>
                <tr><td class="r">位置：</td><td><input type="text" class="text" name="position" value="" /></td></tr>
                <tr><td class="r">开始时间：</td><td><input class="Wdate" type="text" name="start_date" id="start_date" style="color:#626262" onClick="WdatePicker()" value=""><span>(日期格式如:2012-04-03)</span></td></tr>
                <tr><td class="r">结束时间：</td><td><input class="Wdate" type="text" name="end_date" id="start_date" style="color:#626262" onClick="WdatePicker()" value=""><span>(日期格式如:2012-04-03)</span></td></tr>
                <tr><td class="r"></td><td><input value="确 定" style="width:74px;height:28px;line-height:28px;margin:5px 0;" type="submit"></td></tr></table>
            </form>
        </div>
	</div>
{% endblock %}
{% block extra_head %}<script type="text/javascript" src="{{ MEDIA_URL }}js/union.js"></script>{% endblock %} 
